---
layout: layout.liquid
title: Things in my Pocket!
heading: My Pockets
name: Angie
---

<h3>Current Database:</h3>
<table>
    <tr>
        <td></td>
        <td>Phone</td>
        <td>I'm way too addicted to this thing...</td>
    </tr>
    <tr>
        <td></td>
        <td>Wallet</td>
        <td>Lots of important things in here! Like money...and plastic cards that let me spend it...</td>
    </tr>
    <tr>
        <td></td>
        <td>Keys</td>
        <td>Jingle jingle!</td>
    </tr>
</table>
