---
layout: layout.liquid
title: Things in my Pocket!
heading: My Pockets
name: Angie
low-heading: Current Database:
---


<table>
    <tr>
        <td><img src="/images/mobile-screen-solid-full.svg" width="25" height="25"></td>
        <td>Phone</td>
        <td>I'm way too addicted to this thing...</td>
        <td><a href="./phone.liquid">Link</a></td>
    </tr>
    <tr>
        <td><img src="/images/wallet-solid-full.svg" width="25" height="25"></td>
        <td>Wallet</td>
        <td>Lots of important things in here! Like money...and plastic cards that let me spend it...</td>
        <td><a href="./wallet.liquid">Link</a></td>
    </tr>
    <tr>
        <td><img src="/images/key-solid-full.svg" width="25" height="25"></td>
        <td>Keys</td>
        <td>Jingle jingle!</td>
        <td><a href="./keys.liquid">Link</a></td>
    </tr>
</table>
