---
layout: layout.liquid
title: Things in my Pocket!
heading: My Pockets
name: Angie
---

<h3>Current Database:</h3>
<table>
    <a href="https://www.youtube.com/watch?v=L77PwfEs2E4">
        <tr>
            <td><img src="/images/mobile-screen-solid-full.svg" width="25" height="25"></td>
            <td>Phone</td>
            <td>I'm way too addicted to this thing...</td>
        </tr>
    </a>
    <tr>
        <td><img src="/images/wallet-solid-full.svg" width="25" height="25"></td>
        <td>Wallet</td>
        <td>Lots of important things in here! Like money...and plastic cards that let me spend it...</td>
    </tr>
    <tr>
        <td><img src="/images/key-solid-full.svg" width="25" height="25"></td>
        <td>Keys</td>
        <td>Jingle jingle!</td>
    </tr>
</table>
