* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        color: #dad3cc;
    }

body {
    background: #413e3c;
}

nav {
    background: #0c0b0a;
    padding-top: 30px;
    padding-bottom: 30px;
}