* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        font-weight: 400px;
        vertical-align: baseline;
        background: transparent;
        color: #f4f3ee;
    }

body {
    background: #8a817c;
}

h1{
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 32px;
}

h1, h2, h3 {
    font-weight: 600px;
    text-align: center;
}

table {
    margin: auto 0 auto 0;
}

table tbody tr td {
    margin: auto;
    padding: 15px 15px 15px 15px;
}

table, th, td {
  border: 2px solid #f4f3ee;
  border-collapse: collapse;
}

#pagetitle {
    background: #463f3a;
    padding-top: 30px;
    padding-bottom: 30px;
}