* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        color: #f4f3ee;
    }

body {
    background: #8a817c;
}

nav {
    background: #463f3a;
    padding-top: 30px;
    padding-bottom: 30px;
}