@font-face {
    font-family: 'Roboto';
    src: url("/fonts/Roboto-VariableFont.ttf") format("truetype");
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: 'Roboto';
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        color: #f4f3ee;
    }

body {
    background: #8a817c;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h1, h2, h3 {
    font-weight: 600px;
    text-align: center;
}

#pagetitle {
    background: #463f3a;
    padding-top: 30px;
    padding-bottom: 30px;
}