* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body {
    background: #77716d;
}

nav {
    background: #35312f;
    padding-top: 30px;
    padding-bottom: 30px;
}